html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.page-wrapper{
    height: 100%;
    background-image: url(./images/pero-kalimero-9BJRGlqoIUk-unsplash.jpg);
    background-size: cover;

    display: grid;
    grid-template-rows: 1fr auto 1fr;
}

.page-title{
    align-self: center;
    margin-left: 24px;
    color: white;
    text-shadow: black 1px 1px 4px;
}

.search-bar-form{
    grid-row: 2;
    align-self: center;
    justify-content: start;
    width: 92%;
    height: 100px;
    margin-left: 24px;
}

#search-bar{
    appearance: none;
    border: none;
    outline: none;

    width: 100%;
    height: auto;
    font-size: 1.6rem;
    font-weight: 900;

    padding-bottom: 4px;
    border-bottom: solid thin grey;
    background-color: rgba(255, 255, 255, 0);

    color: white;
    text-shadow: black 1px 1px 4px;

}

#search-bar::placeholder{
    color: black;
    text-shadow: none;
}

/*The label is hidden and is only there for accessibility purposes*/
.search-bar-form label{
    display: inline-block;
    visibility: hidden;
    height: 0;
    width: 0;
}

.info-wrapper{
    grid-row: 3;

    display: flex;
    flex-flow: column nowrap;
    row-gap: 8vh;
}

.main-info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.data-container{
    display: flex;
    flex-flow: column nowrap;
    row-gap: 12px;
}

.data-container>.label{
    font-size: 0.7rem;
    font-weight: 400;
}

.data-container>.data{
    font-size: 1.4rem;
    font-weight: 700;
}

.main-info>.data-container>.label{
    width: min-content;
}

.additional-info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.error-info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    color: rgb(233, 68, 68);
    margin-bottom: 16px;
    font-weight: 700;
}

[data-api-term="description"]>.data, .error-info{
    text-transform: capitalize;
}

button.unit-toggle{
    appearance: none;
    outline: none;
    border: solid thin grey;
    
    background-color: white;
    border-radius: 24px;
    padding: 4px;
    font-size: 0.8rem;
    transition: box-shadow 0.1s;

    width: 100px;
    height: 40px;
}

button.unit-toggle:hover{
    cursor: pointer;
    box-shadow: 3px 3px 2px -1px rgba(0, 0, 0, 0.4);
}

button.unit-toggle:active{
    box-shadow: none;
}