html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}

.page-wrapper{
    height: 100%;
    background-image: url(./demo-images/pero-kalimero-9BJRGlqoIUk-unsplash.jpg);
    background-size: cover;

    display: grid;
    grid-template-rows: 1fr auto 1fr;
}

.search-bar-wrapper{
    grid-row: 2;
    place-self: center;

    position: relative;
    width: 500px;
    height: 100px;
}

#search-bar{
    appearance: none;
    border: none;
    outline: none;

    width: 500px;
    height: 60px;
    font-size: 2rem;
    font-weight: 900;

    padding-bottom: 4px;
    border-bottom: solid thin grey;
    background-color: rgba(255, 255, 255, 0);

}

/*The label is hidden and is only there for accessibility purposes*/
.search-bar-wrapper label{
    visibility: hidden;
    height: 0;
}